[core]
        # Use custom `.gitignore` and `.gitattributes`
        excludesfile = ~/.gitignore_global
        attributesfile = ~/.gitattributes
[mergetool]
	keepBackup = true
[core]
	fileMode = false
